<div class="container-artists">
  <h1>Featured Artists</h1>

  <div class="list-group">
   <% @artists.each do |artist| %>
<tr>
    <td><%= artist.name %></td><br>
    <!-- link to exhibition -->
</tr>
  <% end %>
  </div>

</div>


