<div class="container-artists">
  <h1>Featured Artists</h1>

  <div class="list-group">
   <% @artists.each do |artist| %>
<tr>
    <td><%= link_to "#{artist.name}", "/exhibitions##{artist.name}"%>
</td><br>
</tr>
  <% end %>
  </div>

</div>


